@import "./../../../../theme/variables.scss";

.language {
  position: absolute;
  top: 100%;
  transform: translateY(-64px);
  left: 0;
  width: 100%;
  color: #717171;
  font-size: 12px;
  text-align: center;
  z-index: 10;
  span{
    position: relative;
    padding: 0 40px;
    font-size: 16px;
    cursor: pointer;
    &:after{
      content: '/';
      position: absolute;
      display: block;
      top: 2px;
      left: -4px;
      font-size: 16px;
      line-height: 16px;
      color: white;
    }
    &:first-child{
      &:after{
        display: none;
      }
    }
    &.active{
      color: white;
    }
  }
}