@import "./../../../../theme/variables.scss";

.averages {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: auto;
  text-align: center;
  .average-period {
    display: inline-block;
    width: 33%;
    height: auto;
    margin-top: 10px;
    padding: 4px 0;
    .average {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      cursor: pointer;
      & > span {
        display: block;
        width: calc(100% - 4px);
        background: rgba(255, 255, 255, 0.05);
      }
    }
    h3 {
      margin: 0px auto 10px;
      font-size: 1rem;
      text-transform: uppercase;
    }
    b{
      display: block;
      line-height: 26px;
      font-weight: 200;
      font-size: 0.9rem;
      color: var(--bankist-color-light);
      letter-spacing: 0.5px;
      @media screen and (min-width: map-get($grid-breakpoints, lg)){
        font-size: 1.3rem;
      }
      @media screen and (min-width: map-get($grid-breakpoints, sm)){
        font-size: 1.1rem;
      }
    }
    ion-icon {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
      color: white;
    }
  }  
}  