
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="movements">
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="economy">
      <ion-icon name="rocket"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>